* {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #8a8282, #c5dad5);
}

.active {
    background-color: black;
    color: white;
    border: 1px solid white;
}